* {
    box-sizing: border-box;
}

header,
nav,
main,
footer {
    display: block;
}

header {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    color: black;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Arial', sans-serif;
    font-style: oblique;
    background-image: url(logo.png);
    background-position: right;
    background-repeat: no-repeat;
}

body {
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
}

h1 {
    color: black;
    font-style: italic;
    font-size: 30px;
    font-weight: 200;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 230px;
    padding-top: 10px;
}

h2 {
    color: black;
    font-style: oblique;
    font-size: 28px;
    font-weight: 200;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 2px;
}

img {
    float: right;
    margin-right: 300px;
    box-shadow: 3px 3px 3px #333;
    border-radius: 10px;
}

main {
    margin-top: 20px;
    margin-bottom: 280px;
    margin-left: 100px;
    padding-left: 8em;
    padding-right: 45em;
    font-family: 'Oswald', sans-serif;
    font-weight: 50;
    line-height: 1.5;
}

nav {
    float: left;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    width: 125px;
    padding: 5px;
    border-right: 3px solid;
    box-sizing: border-box;
    padding-bottom: 10em;
    padding-right: 10em;
}

nav a {
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    box-sizing: border-box;
}

footer {
    font-size: 0.70em;
    text-align: center;
    font-style: italic;
}

footer a {
    text-decoration: none;
}

footer a:link {
    color: black;
}

footer a:visited {
    color: gray
}

footer a:hover {
    color: rgb(237, 243, 237);
}

nav a:link {
    color: black;
}

nav a:visited {
    color: gray;
}

nav a:hover {
    color: rgb(237, 243, 237);
}

ul a:link {
    color: black;
}

ul a:visited {
    color: gray;
}

ul a:hover {
    color: rgb(237, 243, 237);
}

a {
    text-decoration: none;
}

a:link {
    color: black;
}

a:visited {
    color: gray;
}

a:hover {
    color: rgb(231, 64, 35);
}

.skills {
    list-style-type: square;
}

.contact {
    list-style-type: none;
}

#wrapper {
    width: 80%;
    min-width: 700px;
    margin-right: auto;
    margin-left: auto;
}

#mobile {
    display: none;
}

#desktop {
    display: inline;
}

@media only screen and (max-width: 1424px) {
    img {
        display: none;
    }
    main {
        margin: auto;
        padding: inherit;
        font-size: 90%;
        padding-left: 2em;
    }
    #wrapper {
        width: auto;
        min-width: 0;
        margin: 0;
    }
    h1 {
        margin: 0;
        text-align: center;
        font-size: 1.8em;
        line-height: 180%;
    }
    nav {
        order: 1;
        float: none;
        padding: 0;
        width: auto;
        border-right: none;
        border-bottom: 3px solid;
    }
    nav li {
        display: inline-block;
    }
    nav a {
        padding: 1em;
        font-size: 1.2em;
    }
    nav ul {
        text-align: center;
        padding: 0;
        margin: 0;
    }
    footer {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    header {
        background-position: right;
        background-image: none;
        text-align: center;
        font-size: 2em;
    }
    body {
        background-image: none;
    }
    main {
        margin: auto;
        padding: inherit;
        padding-bottom: 5em;
        font-size: 80%;
        padding-left: 2em;
    }
    h1 {
        padding-top: 1em;
        padding-left: 1em;
    }
    nav a {
        display: block;
        padding: 0.2em;
        font-size: 1em;
        border-bottom: 1px solid black;
    }
    nav li {
        display: block;
        text-align: center;
    }
    nav ul {
        text-align: left;
    }
    main {
        padding-left: 1em;
    }
    #mobile {
        display: inline;
    }
    #desktop {
        display: none;
    }
}